body {
 display: block;
 overflow-x: hidden;
}
nav {
 background-color: #ffc996;
}
.navbar-brand img {
 max-height: 50px;
}
.navbar-brand {
 font-size: 29px;
 text-transform: uppercase;
 font-weight: 900;
 color: #ff6701;
}
nav ul li a {
 color: #a9a9a9;
 font-size: 22px;
 margin: auto 10px;
}
nav ul li a:hover {
 color: #ff5200;
}

section {
 padding-top: 50px;
 padding-bottom: 50px;
}
section h1 {
 text-transform: uppercase;
 font-weight: 900;
 color: #fea82f;
 text-align: center;
 margin-bottom: 20px;
}
section p {
 font-size: 20px;
 font-weight: 300;
 text-align: center;
}
.bg{
    background-color:#ffc996 ;
}


.bio{
    background-color:#ffc996 ;
}

#contact {
 text-align: center;
 background-color: #ffc996;
 color: #ff5200;
}
#contact h1 {
 text-align: center;
 color: #ff5200;
}


